<%# Index view for displaying a list of <%= name.underscore.humanize.downcase.pluralize %>
  Required locals:
  - <%= name.underscore.pluralize %>: Flex::Task[] - Array of <%= name.underscore.humanize.downcase.pluralize %> to display
  - unassigned_<%= name.underscore.pluralize %>: Flex::Task[] - Array of unassigned <%= name.underscore.humanize.downcase.pluralize %> for button state
  - task_types: String[] - Array of task types for filtering (e.g., ["Flex::Task", "Flex::OtherTask", "MyCustomTask"])

  Internationalization keys that you can override:
  - flex.<%= name.underscore.pluralize %>.index.title: Title for the <%= name.underscore.humanize.downcase.pluralize %> index page
  - flex.<%= name.underscore.pluralize %>.index.tabs.assigned: Label for the assigned <%= name.underscore.humanize.downcase.pluralize %> tab
  - flex.<%= name.underscore.pluralize %>.index.tabs.completed: Label for the completed <%= name.underscore.humanize.downcase.pluralize %> tab
 %>
<main class="usa-section">
  <div class="grid-container">
    <h1 class="usa-heading-xl"><%%%= t("flex.<%= name.underscore.pluralize %>.index.title") %></h1>
    <nav class="display-flex border-bottom-1px border-base-light">
      <%% 
        filter_params = params.permit(:filter_date, :filter_type, :filter_status)
        [
          { 
            name: t("flex.<%= name.underscore.pluralize %>.index.tabs.assigned"), 
            path: url_for(filter_params.merge(filter_status: nil)), 
            active: params[:filter_status] != "completed" 
          },
          { 
            name: t("flex.<%= name.underscore.pluralize %>.index.tabs.completed"), 
            path: url_for(filter_params.merge(filter_status: "completed")), 
            active: params[:filter_status] == "completed" 
          }
        ].each do |tab| 
      %>
      <%%%= render partial: "flex/cases/nav_tab", locals: tab %>
    <%% end %>
  </nav>
  <div class="grid-row grid-gap-4 margin-bottom-4">
    <div class="grid-col-12 tablet:grid-col-3">
      <%%%= render partial: 'flex/tasks/type_filter', locals: { task_types: task_types } %>
    </div>
    <div class="grid-col-12 tablet:grid-col-3">
      <%%%= render partial: 'flex/tasks/due_date_filter' %>
    </div>
    <div class="grid-col-12 tablet:grid-col-3">
      <label class="usa-label" for="next-task-button" style="margin-bottom: 0.5rem">Actions:</label>
      <%%%= button_to t("flex.<%= name.underscore.pluralize %>.actions.pick_next"), url_for(only_path: true, action: :pick_up_next_task), 
                      id: "next-task-button",
                      disabled: !unassigned_<%= name.underscore.pluralize %>&.any?,
                      method: :post, 
                      title: unassigned_<%= name.underscore.pluralize %>&.any? ? t("flex.<%= name.underscore.pluralize %>.messages.no_tasks_available") : nil,
                      class: "usa-button" %>
    </div>
  </div>
  <%% if <%= name.underscore.pluralize %>&.any? %>
    <table class="usa-table usa-table--striped usa-table--sticky-header width-full">
      <thead>
        <tr>
          <th data-sortable scope="col" role="columnheader" aria-sort="descending">
            <%%%= t("flex.<%= name.underscore.pluralize %>.index.columns.col_due_date") %>
          </th>
          <th data-sortable scope="col" role="columnheader">
            <%%%= t("flex.<%= name.underscore.pluralize %>.index.columns.col_type") %>
          </th>
          <th data-sortable scope="col" role="columnheader">
            <%%%= t("flex.<%= name.underscore.pluralize %>.index.columns.col_case_id") %>
          </th>
          <th data-sortable scope="col" role="columnheader">
            <%%%= t("flex.<%= name.underscore.pluralize %>.index.columns.col_created_date") %>
          </th>
        </tr>
      </thead>
      <tbody>
        <%%
          <%= name.underscore.pluralize %>.each do |<%= name.underscore.singularize %>|
          %>
        <tr>
          <td data-sort-value="<%%%= time_since_epoch <%= name.underscore.singularize %>.due_on %>">
            <%%%= local_en_us <%= name.underscore.singularize %>.due_on %>
          </td>
          <td data-sort-value="<%%%= <%= name.underscore.singularize %>.type %>">
            <%%%= link_to t("<%= name.underscore.pluralize %>.types.#{<%= name.underscore.singularize %>.type.underscore}"), url_for(only_path: true, action: :show, id: <%= name.underscore.singularize %>.id.to_s) %>
          </td>
          <td data-sort-value="<%%%= <%= name.underscore.singularize %>.case_id %>"><%%%= <%= name.underscore.singularize %>.case_id %></td>
          <td data-sort-value="<%%%= time_since_epoch <%= name.underscore.singularize %>.created_at %>">
            <%%%= local_en_us <%= name.underscore.singularize %>.created_at.to_date %>
          </td>
        </tr>
      <%% end %>
    </tbody>
  </table>
  <div class="usa-sr-only usa-table__announcement-region" aria-live="polite"></div>
<%% else %>
  <%%%= render partial: 'flex/<%= name.underscore.pluralize %>/no_<%= name.underscore.pluralize %>_alert' %>
<%% end %>
</div>
</div>
</main>
