<%= content_for :title, title %>

  <!-- Main content -->
  <main class="usa-section">
    <div class="grid-container">
      <h1 class="usa-heading-xl"><%= title %></h1>

      <% tabs = [
        { name: "Open", path: cases_path, active: action_name == "index" },
        { name: "Closed", path: closed_cases_path, active: action_name == "closed" }
      ] %>

      <nav class="display-flex border-bottom-1px border-base-light">
        <% tabs.each do |tab| %>
          <%= render partial: "flex/cases/nav_tab", locals: tab %>
        <% end %>
      </nav>

      <!-- Cases -->
      <table class="usa-table usa-table--borderless usa-table--striped width-full">
        <thead>
          <tr>
            <th scope="col">Case ID</th>
            <th scope="col">Created</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <% if cases.any? %>
            <% cases.each do |kase| %>
              <tr>
                <td><%= kase[:id] %></td>
                <td><%= kase[:created_at] %></td>
                <td>
                  <%= link_to "View", kase[:path], class: "usa-button usa-button--outline" %>
                </td>
              </tr>
            <% end %>
          <% else %>
            <tr>
              <td colspan="3" class="text-center">No cases</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </main>
</div>
