<% content_for :title, title %>

<%= link_to back_link_text, index_path %>

<h1><%= title %></h1>

<%
p = Flex::StepIndicatorPresenter.new([:in_progress, :submitted, :decision_made], current_status)
%>

<%= render partial: "flex/shared/step_indicator", locals: { presenter: p } %>

<p class="usa-intro">
  <%= next_step %>
</p>

<p>
  <%= submitted_on_text %>: <%= created_at %>
</p>
