<%# Index view for displaying a list of tasks
    Required locals:
    - model_class: Flex::Task - The model class for the tasks
    - title: String - Page title
    - tasks: Array<Flex::Task> - List of tasks to display
    - distinct_task_types: Array<String> - List of distinct task types to filter by

    Example usage:
    render template: "flex/application_forms/index", locals: {
      model_class: PassportTask
    }
%>
<%= content_for :title, title %>
<!-- Main content -->
<main class="usa-section">
  <div class="grid-container">
    <h1 class="usa-heading-xl"><%= title %></h1>
    <nav class="display-flex border-bottom-1px border-base-light">
      <% 
        [
          { name: t("flex.tasks.index.tabs.assigned"), path: url_for(request.path + "?" + request.query_parameters.merge(filter_status: nil, filter_date: params[:filter_date], filter_type: params[:filter_type]).to_query), active: params[:filter_status] != "completed" },
          { name: t("flex.tasks.index.tabs.completed"), path: url_for(request.path + "?" + request.query_parameters.merge(filter_status: "completed", filter_date: params[:filter_date], filter_type: params[:filter_type]).to_query), active: params[:filter_status] == "completed" }
        ].each do |tab| 
      %>
      <%= render partial: "flex/cases/nav_tab", locals: tab %>
    <% end %>
  </nav>
  <!-- Filters -->
  <div class="grid-row grid-gap-4 margin-bottom-4">
    <div class="grid-col-12 tablet:grid-col-3">
      <%= render partial: 'flex/tasks/type_filter', locals: { distinct_task_types: distinct_task_types } %>
    </div>
    <div class="grid-col-12 tablet:grid-col-3">
      <%= render partial: 'flex/tasks/due_date_filter' %>
    </div>
  </div>
  <% if tasks.any? %>
    <!-- Tasks -->
    <table class="usa-table usa-table--striped usa-table--sticky-header width-full">
      <thead>
        <tr>
          <th data-sortable scope="col" role="columnheader" aria-sort="descending">
            <%= t("flex.tasks.index.columns.col_due_date") %>
          </th>
          <th data-sortable scope="col" role="columnheader">
            <%= t("flex.tasks.index.columns.col_type") %>
          </th>
          <th data-sortable scope="col" role="columnheader">
            <%= t("flex.tasks.index.columns.col_case_id") %>
          </th>
          <th data-sortable scope="col" role="columnheader">
            <%= t("flex.tasks.index.columns.col_created_date") %>
          </th>
        </tr>
      </thead>
      <tbody>
        <%
          tasks.each do |task|

        %>
        <tr>
          <td data-sort-value="<%= task[:due_on].to_time.to_i %>">
            <%= task[:due_on].to_formatted_s(:local_en_us) %>
          </td>
          <td data-sort-value="<%= task[:type] %>">
            <%= link_to t("tasks.types.#{task[:type].underscore}"), "task/#{task[:id]}" %>
          </td>
          <td data-sort-value="<%= task[:case_id] %>"><%= task[:case_id] %></td>
          <td data-sort-value="<%= task[:created_at].to_time.to_i %>">
            <%= task[:created_at].to_date.to_formatted_s(:local_en_us) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div class="usa-sr-only usa-table__announcement-region" aria-live="polite"></div>
<% else %>
  <%= render partial: 'flex/tasks/no_tasks_alert' %>
<% end %>
</div>
</div>
</main>
