<%= content_for :title, model_class.name.titleize %>
<!-- Main content -->
<main class="usa-section">
  <div class="grid-container">
    <h1 class="usa-heading-xl"><%= model_class.name.titleize.sub('Task', ' Tasks') %></h1>
    <% tabs = [
        { name: "In Progress", path: polymorphic_path(model_class, :filter_status => nil, :filter_date => params[:filter_date], :filter_type => params[:filter_type]), active: params[:filter_status] != 'completed' },
        { name: "Completed", path: polymorphic_path(model_class, :filter_status => 'completed', :filter_date => params[:filter_date], :filter_type => params[:filter_type]), active: params[:filter_status] == 'completed' }
      ] %>
    <nav class="display-flex border-bottom-1px border-base-light">
      <% tabs.each do |tab| %>
        <%= render partial: "flex/cases/nav_tab", locals: tab %>
      <% end %>
    </nav>
    <!-- Filters -->
    <div class="grid-row grid-gap-4 margin-bottom-4">
      <div class="grid-col-12 tablet:grid-col-3">
        <%= render partial: 'flex/tasks/task_type_filter' %>
      </div>
      <div class="grid-col-12 tablet:grid-col-3">
        <%= render partial: 'flex/tasks/task_due_date_filter' %>
      </div>
    </div>
    <% if @tasks.any? %>
      <!-- Tasks -->
      <table class="usa-table usa-table--striped usa-table--sticky-header">
        <thead>
          <tr>
            <th data-sortable scope="col" role="columnheader" aria-sort="descending">
              Task Due Date
            </th>
            <th data-sortable scope="col" role="columnheader">
              Task Type
            </th>
            <th data-sortable scope="col" role="columnheader">
              Case ID
            </th>
            <th data-sortable scope="col" role="columnheader">
              Task created date
            </th>
          </tr>
        </thead>
        <tbody>
          <%
          @tasks.each do |task|
          %>
          <tr>
            <td class="flex-task-due-date" data-sort-value="<%= time_since_epoch task.due_on %>">
              <%= mm_dd_yyyy task.due_on %>
            </td>
            <td data-sort-value="<%= task.type %>" class="flex-task-type"><%= humanize_task_type task.type %></td>
            <td data-sort-value="<%= task.case_id %>" class="flex-task-case-id"><%= task.case_id %></td>
            <td
              data-sort-value="<%= time_since_epoch task.created_at %>"
              class="flex-task-created-date"
            >
              <%= mm_dd_yyyy task.created_at %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <%= render partial: 'flex/tasks/no_tasks_alert' %>
  <% end %>
</div>
<div class="usa-sr-only usa-table__announcement-region" aria-live="polite"></div>
</main>
</div>
