<%= content_for :title, model_class.name.titleize %>
<!-- Main content -->
<main class="usa-section">
  <div class="grid-container">
    <h1 class="usa-heading-xl"><%= model_class.name.titleize.sub('Task', ' Tasks') %></h1>
    <% if @tasks.any? %>
      <!-- Filters -->
      <div class="grid-row grid-gap-4 margin-bottom-4">
        <div class="grid-col-12 tablet:grid-col-3">
          <%= render partial: 'flex/tasks/task_type_filter' %>
        </div>
        <div class="grid-col-12 tablet:grid-col-3">
          <label class="usa-label" for="filter_task">Filter by due date</label>
          <select class="usa-select" id="filter_task" name="filter_task">
            <option value="all">All dates</option>
          </select>
        </div>
      </div>
      <!-- Tasks -->
      <table class="usa-table usa-table--striped usa-table--sticky-header">
        <thead>
          <tr>
            <th data-sortable scope="col" role="columnheader" aria-sort="descending">
              Task Due Date
            </th>
            <th data-sortable scope="col" role="columnheader">
              Task Type
            </th>
            <th data-sortable scope="col" role="columnheader">
              Case ID
            </th>
            <th data-sortable scope="col" role="columnheader">
              Task created date
            </th>
          </tr>
        </thead>
        <tbody>
          <%
          @tasks.each do |task|
          %>
          <tr>
            <td class="flex-task-due-date" data-sort-value="<%= task.due_on.to_fs(:number) %>">
              <%= task.due_on.strftime("%m/%d/%Y") %>
            </td>
            <td data-sort-value="<%= task.type %>" class="flex-task-type"><%= task.type %></td>
            <td data-sort-value="<%= task.case_id %>" class="flex-task-case-id"><%= task.case_id %></td>
            <td
              data-sort-value="<%= task.created_on.to_fs(:number) %>"
              class="flex-task-created-date"
            >
              <%= task.created_on.strftime("%m/%d/%Y") %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <%= render partial: 'flex/tasks/no_tasks_alert' %>
  <% end %>
</div>
</main>
</div>
