<main class="usa-section">
  <div class="grid-container">
    <nav class="usa-breadcrumb" aria-label="Breadcrumbs">
      <ol class="usa-breadcrumb__list">
        <li class="usa-breadcrumb__list-item">
          <%= link_to "Home", "/", class: "usa-breadcrumb__link" %>
        </li>
        <li class="usa-breadcrumb__list-item">
          <%= link_to "Tasks", polymorphic_path(model_class), class: "usa-breadcrumb__link" %>
        </li>
        <li class="usa-breadcrumb__list-item usa-current" aria-current="page">
          <span><%= find_task_type_human_readable_name(task_type_map, @task.type) %></span>
        </li>
      </ol>
    </nav>
    <h1 class="usa-heading-xl"><%= find_task_type_human_readable_name(task_type_map, @task.type) %></h1>
    <div class="border-bottom-1px margin-bottom-3 padding-bottom-3">
      <div class="grid-container">
        <div class="grid-row grid-gap-2">
          <div class="grid-col-auto">
            <strong>Task status:</strong> <%= @task.status.humanize %>
          </div>
          <div class="grid-col-auto">
            <strong>Due date:</strong> <%= local_en_us @task.due_on %>
          </div>
          <div class="grid-col-auto">
            <strong>Assigned to:</strong> <%= @assigned_user&.full_name || "N/A" %>
          </div>
        </div>
      </div>
    </div>
  </main>
