<div class="<%= accordion_classes %>"<%= ' data-allow-multiple' if @is_multiselectable %>>
  <% @items.each_with_index do |item, index| %>
    <% item_id = accordion_item_id(item, index) %>
    <h4 class="usa-accordion__heading">
      <button
        type="button"
        class="usa-accordion__button"
        aria-expanded="<%= item[:expanded] ? 'true' : 'false' %>"
        aria-controls="<%= item_id %>"
      >
        <%= item[:title] %>
      </button>
    </h4>
    <div id="<%= item_id %>" class="usa-accordion__content usa-prose">
      <%= item[:content] %>
    </div>
  <% end %>
</div>
